<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nexus" value="http://220.165.143.67:8081/repository/nuget-hosted/" allowInsecureConnections="true" />
  </packageSources>
</configuration>